# Adapted from https://gist.github.com/dedunumax/54e82214715e35439227
*.class
*.jar
bin/
target/
##############################
## Visual Studio Code
##############################
.vscode/
.code-workspace

##############################
## IntelliJ
##############################
out/
.idea/
.idea_modules/
*.iml
*.ipr
*.iws

##############################
## Eclipse
##############################
.settings/
bin/
tmp/
.metadata
.classpath
.project
*.tmp
*.bak
*.swp
*~.nib
local.properties
.loadpath
.factorypath

##############################
## OS X
##############################
.DS_Store

##############################
## Miscellaneous
##############################
*.log
